{include file="Common/head.html"}
<body>
<div class="wrapper">

    <!-- START HEADER -->
    {include file="Common/bodyhead.html"}
    <!-- END HEADER -->

    <!-- START MAIN -->
    <div id="main">
        <!-- START SIDEBAR -->
        {include file="Common/sidebar.html"}
        <!-- END SIDEBAR -->

        <!-- START PAGE -->
        <div id="page">
            <!-- start page title -->
            <div class="page-title">
                <div class="in">
                    <div class="titlebar">	<h2>分类管理</h2>	<p>分类列表</p></div>

                    <div class="clear"></div>
                </div>
            </div>
            <!-- end page title -->

            <!-- START CONTENT -->
            <div class="content">
                <!-- START TABLE -->
                <div class="simplebox grid740">

                    <div class="titleh">
                        <h3>分类列表</h3>
                    </div>

                    <table id="myTable" class="tablesorter">
                        <thead>
                        <tr>
                            <th>#ID</th>
                            <th>名称</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
						{foreach $cats as $cats_key=>$cats_val}
							<tr>
								<td>{$cats_val.id}</td>
								<td>{str_repeat('-- ', $cats_val.space)}{$cats_val.name}</td>
								<td>
									<a href="#">编辑</a>
									<a href="{C('domain.main')}/index.php?p=admin&m=cat&a=del&id={$cats_val.id}" onClick="return confirm('确定删除当前分类：{$cats_val.name}?');">删除</a>
								</td>
							</tr>
						{/foreach}
                        </tbody>
                    </table>
                </div>
                <!-- END TABLE -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END PAGE -->
        <div class="clear"></div>
    </div>
    <!-- END MAIN -->

    <!-- START FOOTER -->
    <div id="footer">
    	<div class="left-column">© Copyright 2016 - 保留所有权利.</div>
    </div>
    <!-- END FOOTER -->
</div>
</body>
</html>