<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>博客后台</title>
    <link rel="stylesheet" type="text/css" href="{C('domain.main')}/public/admin/css/app.css" />
    <script type="text/javascript" src="{C('domain.main')}/public/admin/js/app.js"></script>
	{if isset($tag)&&$tag=='article'}
	<script type="text/javascript" src="{C('domain.main')}/public/admin/ckeditor/ckeditor.js"></script>
	{/if}
</head>
